body{
    display: flex;
    justify-content: center;
    background-color: cadetblue;
}
.maincontainer{
    background-color: cornsilk;
    height: 500px;
    width: 600px;
    text-align: center;
    color: brown;
}
form div {
    margin: 10px;
}
form div input{
    width: 70%;
    height: 20px;

}